/.cpcache
/.nrepl-port
/bin
/config.edn
/config.env
/secrets.env
/config.sh
/storage/
/tailwindcss
/target
.calva/
.clj-kondo/
.lsp/
.portal/
node_modules
storage.tar.gz
backups
*.epub
timeline.edn
.idea
storage-bak
resources/emails
resources/public/vendor
dev/repl.clj
export/
