{:paths ["src" "resources" "target/resources"]
 :deps {com.biffweb/biff                    {:git/url "https://github.com/jacobobryant/biff"
                                             ;; indexes branch
                                             :git/sha "c53c273c7e1a1773a57f9df6750a7c4448e47052"}
        com.wsscode/pathom3                 {:mvn/version "2023.08.22-alpha"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        org.clojure/core.memoize            {:mvn/version "1.0.257"}
        org.clj-commons/claypoole           {:mvn/version "1.2.2"}
        com.github.kyleburton/clj-xpath     {:mvn/version "1.4.12"}
        com.widdindustries/time-literals    {:mvn/version "0.1.10"}
        org.clojure/data.generators         {:mvn/version "1.1.0"}
        hickory/hickory                     {:mvn/version "0.7.1"
                                             :exclusions [org.clojure/clojurescript]}
        throttler/throttler                 {:mvn/version "1.0.1"}
        metosin/malli                       {:mvn/version "0.16.3"}
        oauth/oauth.one                     {:mvn/version "0.7.0"}
        org.clojure/clojure                 {:mvn/version "1.11.1"}
        org.slf4j/slf4j-simple              {:mvn/version "2.0.0-alpha5"}
        org.subethamail/subethasmtp         {:mvn/version "3.1.7"}
        remus/remus                         {:mvn/version "0.2.2"}
        com.taoensso/nippy                  {:mvn/version "3.2.0"}
        com.taoensso/tufte                  {:mvn/version "2.6.3"}
        babashka/process                    {:mvn/version "0.1.8"}
        com.novemberain/pantomime           {:mvn/version "2.11.0"}
        org.clojure/data.csv                {:mvn/version "1.0.0"}
        org.jsoup/jsoup                     {:mvn/version "1.11.3"}
        com.stripe/stripe-java              {:mvn/version "22.10.0"}
        cld/cld                             {:mvn/version "0.1.0"}
        org.apache.spark/spark-core_2.13    {:mvn/version "3.4.0"}
        org.apache.spark/spark-mllib_2.13   {:mvn/version "3.4.0"}}
 :aliases
 {:run {:extra-deps {com.biffweb/tasks {:git/url "https://github.com/jacobobryant/biff",
                                        :git/sha "c53c273c7e1a1773a57f9df6750a7c4448e47052"
                                        :deps/root "libs/tasks"}}
        :extra-paths ["dev" "test"]
        :jvm-opts ["--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                   "-XX:-OmitStackTraceInFastThrow"
                   "-XX:+CrashOnOutOfMemoryError"
                   "-Dbiff.env.BIFF_PROFILE=dev"]
        :main-opts ["-m" "com.biffweb.task-runner" "tasks/tasks"]}
  :prod {:jvm-opts ["--add-exports=java.base/sun.nio.ch=ALL-UNNAMED"
                    "-XX:-OmitStackTraceInFastThrow"
                    "-XX:+CrashOnOutOfMemoryError"
                    "-Dbiff.env.BIFF_PROFILE=prod"]
         :main-opts ["-m" "com.yakread"]}}}
