({:component-id "homepage-feature1", :component-type "feature1", :title "Feature 1", :html-content "<h1 style=\"font-family: sans-serif; color: black; text-align: center;\">Welcome to Mt Zion&nbsp;</h1>\n<p>&nbsp;</p>\n<p><strong>This is our 45th Homecoming</strong></p>\n<p>&nbsp;</p>\n<p>&nbsp;</p>", :text-content "Welcome to Mt Zion&nbsp;\n&nbsp;\nThis is our 45th Homecoming\n&nbsp;\n&nbsp;", :last-updated "2025-09-19T22:42:27.119+0000", :source-info {:type "alfresco", :node-id "96840559-ce06-43d9-8405-59ce06c3d9bf", :name "Welcome"}, :xtdb-id #uuid "a4a2f014-0213-4ab5-81d4-5586e4f40d82"})