{:alfresco/name "Company Home", :alfresco/modified-at "2025-09-12T01:35:31.749+0000", :alfresco/node-id "7f2c1077-2964-421a-ac10-772964421a00", :yakread/created-at #object[java.time.Instant 0x3b4475af "2025-09-19T22:26:00.353232Z"], :sync/version 1, :content/target-component "textBlock", :alfresco/created-at "2025-09-12T01:35:27.773+0000", :sync/last-checked #object[java.time.Instant 0x23d0d8fe "2025-09-19T22:26:00.353262Z"], :yakread/type "alfresco-content", :content/text nil, :xt/id #uuid "ff70c726-3f30-4663-b506-edd16fcb5dfd", :alfresco/type "folder", :yakread/status "published"}