[
{:route-name :com.yakread.app.subscriptions.view/mark-read,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    {:session/user #:xt{:id 1},
                     :params/item #:xt{:id 2}}},
 :expected
 {:status 200,
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/input
  [{:db/doc-type :user-item,
    :db.op/upsert #:user-item{:user 1, :item 2},
    :user-item/viewed-at [:db/default :db/now]}]}}

{:route-name :com.yakread.app.subscriptions.view/mark-unread,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    {:session/user #:xt{:id 1},
                     :params/item
                     {:xt/id 2,
                      :item/sub
                      #:xt{:id
                           #uuid "d6c955e8-68d2-4779-84d6-abd823b2f20b"}}}},
 :expected
 {:status 204,
  :headers
  {"HX-Location" ["/dev/subscription/1slV6GjSR3mE1qvYI7LyCw" nil]},
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/input
  [{:db/doc-type :user-item,
    :db.op/upsert #:user-item{:user 1, :item 2},
    :user-item/viewed-at :db/dissoc,
    :user-item/favorited-at :db/dissoc,
    :user-item/disliked-at :db/dissoc,
    :user-item/reported-at :db/dissoc,
    :user-item/report-reason :db/dissoc}]}}

{:route-name :com.yakread.app.subscriptions.view/toggle-favorite,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:item
                             #:item{:like-button* :active,
                                    :user-item #:xt{:id 2}}}},
 :expected
 {:status 200,
  :headers {"Content-Type" "text/html"},
  :body true,
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/retry false,
  :biff.pipe.tx/input
  [{:db/doc-type :user-item,
    :db/op :update,
    :xt/id 2,
    :user-item/favorited-at :db/now,
    :user-item/disliked-at :db/dissoc,
    :user-item/reported-at :db/dissoc,
    :user-item/report-reason :db/dissoc}]}}

{:route-name :com.yakread.app.subscriptions.view/toggle-favorite,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:item
                             #:item{:like-button* :active,
                                    :user-item
                                    {:xt/id 2,
                                     :user-item/favorited-at
                                     #inst "1970-01-01T00:00:00.000-00:00"}}}},
 :expected
 {:status 200,
  :headers {"Content-Type" "text/html"},
  :body false,
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/retry false,
  :biff.pipe.tx/input
  [{:db/doc-type :user-item,
    :db/op :update,
    :xt/id 2,
    :user-item/favorited-at :db/dissoc,
    :user-item/disliked-at :db/dissoc,
    :user-item/reported-at :db/dissoc,
    :user-item/report-reason :db/dissoc}]}}

{:route-name :com.yakread.app.subscriptions.view/not-interested,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:item
                             #:item{:sub
                                    #:xt{:id
                                         #uuid "46e5bf4c-dc56-402a-ad7d-03610274c067"},
                                    :user-item #:xt{:id 1}}}},
 :expected
 {:status 204,
  :headers
  {"HX-Location" ["/dev/subscription/RuW_TNxWQCqtfQNhAnTAZw" nil]},
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/retry false,
  :biff.pipe.tx/input
  [{:db/doc-type :user-item,
    :db/op :update,
    :xt/id 1,
    :user-item/favorited-at :db/dissoc,
    :user-item/disliked-at :db/now}]}}

{:route-name :com.yakread.app.subscriptions.view/unsubscribe,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:item
                             #:item{:sub
                                    #:sub{:id 1,
                                          :doc-type :sub/email}}}},
 :expected
 {:status 204,
  :headers {"HX-Location" ["/dev/subscriptions" nil]},
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/retry false,
  :biff.pipe.tx/input
  [{:db/doc-type :sub/email,
    :db/op :update,
    :xt/id 1,
    :sub.email/unsubscribed-at :db/now}]}}

{:route-name :com.yakread.app.subscriptions.view/unsubscribe,
 :method :post,
 :handler-id :start*,
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:item
                             #:item{:sub
                                    #:sub{:id 1,
                                          :doc-type :sub/feed}}}},
 :expected
 {:status 204,
  :headers {"HX-Location" ["/dev/subscriptions" nil]},
  :biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/retry false,
  :biff.pipe.tx/input [[:xtdb.api/delete 1]]}}

]
