{:biff.beholder/enabled #profile {:dev true :default false}
 :biff.beholder/paths ["src" "resources" "test"]
 :biff.middleware/cookie-secret #biff/secret COOKIE_SECRET
 :biff.middleware/secure #profile {:dev false :default true}
 :biff.nrepl/args ["--port"
                   #ref [:biff.nrepl/port]
                   "--middleware"
                   "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]
 :biff.nrepl/port #or [#biff/env NREPL_PORT "7888"]

 :biff.system-properties/clojure.tools.logging.factory "clojure.tools.logging.impl/slf4j-factory"
 :biff.system-properties/user.timezone "UTC"
 :biff.system-properties/org.slf4j.simpleLogger.log.org.apache.spark "error"
 :biff.system-properties/org.slf4j.simpleLogger.log.org.sparkproject "error"
 :biff.system-properties/org.slf4j.simpleLogger.log.org.apache.http.client "error"
 :biff.system-properties/clojure.main.report "stderr"

 :biff.tasks/css-output "target/resources/public/css/main.css"
 :biff.tasks/deploy-cmd ["git" "push" "prod" "master"]
 :biff.tasks/deploy-untracked-files [#ref [:biff.tasks/css-output] "config.env"
                                     "target/classes/com/yakread/AverageRating.class"]
 :biff.tasks/generate-assets-fn com.yakread/generate-assets!
 :biff.tasks/main-ns com.yakread
 :biff.tasks/on-soft-deploy "\"(com.yakread/on-save @com.yakread/system)\""
 :biff.tasks/server #biff/env DOMAIN
 :biff.xtdb.jdbc/jdbcUrl #biff/secret "XTDB_JDBC_URL"
 :biff.xtdb/dir "storage/xtdb"
 :biff.xtdb/topology #keyword #or [#profile {:prod #biff/env "PROD_XTDB_TOPOLOGY" :default #biff/env "XTDB_TOPOLOGY"}
                                   "standalone"]
 :biff/domain #biff/env DOMAIN
 :biff/base-url #profile {:prod #join ["https://" #biff/env DOMAIN] :default "http://localhost:8080"}
 :biff/host #profile {:dev "0.0.0.0" :default "localhost"}
 :biff/jwt-secret #biff/secret JWT_SECRET
 :biff/port 8080

 :mailersend/api-key  #biff/secret MAILERSEND_API_KEY
 :mailersend/from     #biff/env MAILERSEND_FROM
 :mailersend/reply-to #biff/env MAILERSEND_REPLY_TO

 :recaptcha/secret-key #biff/secret RECAPTCHA_SECRET_KEY
 :recaptcha/site-key   #biff/env RECAPTCHA_SITE_KEY

 ;; TODO uncomment
 :stripe/api-key          #profile {;:prod #biff/secret STRIPE_SECRET_KEY_PROD
                                    :dev #biff/secret STRIPE_SECRET_KEY_DEV}
 :stripe/public-api-key   #profile {:prod #biff/env STRIPE_PUBLIC_API_KEY_PROD
                                    :dev  #biff/env STRIPE_PUBLIC_API_KEY_DEV}
 :stripe/webhook-secret   #profile {:prod #biff/secret STRIPE_WEBHOOK_SECRET_PROD
                                    :dev  #biff/secret STRIPE_WEBHOOK_SECRET_DEV}
 :stripe/annual-price-id  #profile {:prod #biff/env STRIPE_ANNUAL_PRICE_ID_PROD
                                    :dev  #biff/env STRIPE_ANNUAL_PRICE_ID_DEV}
 :stripe/quarter-price-id #profile {:prod #biff/env STRIPE_QUARTER_PRICE_ID_PROD
                                    :dev  #biff/env STRIPE_QUARTER_PRICE_ID_DEV}

 :yakread/domain            #biff/env DOMAIN
 :yakread/tos-url           #biff/env TOS_URL
 :yakread/privacy-url       #biff/env PRIVACY_URL
 :yakread/about-url         #biff/env ABOUT_URL
 :yakread/contact-url       #biff/env CONTACT_URL
 :yakread/analytics-snippet #biff/env ANALYTICS_SNIPPET

 :biff.s3/origin            #biff/env S3_DEFAULT_ORIGIN
 :biff.s3/access-key        #biff/env S3_DEFAULT_ACCESS_KEY
 :biff.s3/secret-key        #biff/secret S3_DEFAULT_SECRET_KEY
 :yakread.s3.content/bucket #biff/env S3_CONTENT_BUCKET
 :yakread.s3.emails/bucket  #biff/env S3_EMAILS_BUCKET
 :yakread.s3.images/bucket  #biff/env S3_IMAGES_BUCKET
 :yakread.s3.images/edge    #biff/env S3_IMAGES_EDGE

 :yakread.pipe.js/base-url #biff/env CLOUD_FN_BASE_URL
 :yakread.pipe.js/secret   #biff/secret CLOUD_FN_SECRET}
