{:biff.beholder/enabled #profile {:dev true :default false}
 :biff.beholder/paths ["src" "resources" "test"]
 :biff.middleware/cookie-secret #biff/secret COOKIE_SECRET
 :biff.middleware/secure #profile {:dev false :default true}
 :biff.nrepl/args ["--port"
                   #ref [:biff.nrepl/port]
                   "--middleware"
                   "[cider.nrepl/cider-middleware,refactor-nrepl.middleware/wrap-refactor]"]
 :biff.nrepl/port #or [#biff/env NREPL_PORT "7888"]
 :biff.system-properties/clojure.tools.logging.factory "clojure.tools.logging.impl/slf4j-factory"
 :biff.system-properties/user.timezone "UTC"
 :biff.system-properties/org.slf4j.simpleLogger.log.org.apache.spark "error"
 :biff.system-properties/org.slf4j.simpleLogger.log.org.sparkproject "error"
 :biff.system-properties/org.slf4j.simpleLogger.log.org.apache.http.client "error"
 :biff.tasks/css-output "target/resources/public/css/main.css"
 :biff.tasks/deploy-cmd ["git" "push" "prod" "master"]
 :biff.tasks/deploy-untracked-files [#ref [:biff.tasks/css-output] "config.env"]
 :biff.tasks/generate-assets-fn com.yakread/generate-assets!
 :biff.tasks/main-ns com.yakread
 :biff.tasks/on-soft-deploy "\"(com.yakread/on-save @com.yakread/system)\""
 :biff.tasks/server #biff/env DOMAIN
 :biff.xtdb.jdbc/jdbcUrl #biff/secret "XTDB_JDBC_URL"
 :biff.xtdb/dir "storage/xtdb"
 :biff.xtdb/topology #keyword #or [#profile {:prod #biff/env "PROD_XTDB_TOPOLOGY" :default #biff/env "XTDB_TOPOLOGY"}
                                   "standalone"]
 :biff/base-url #profile {:prod #join ["https://" #biff/env DOMAIN] :default "http://localhost:8080"}
 :biff/host #profile {:dev "0.0.0.0" :default "localhost"}
 :biff/jwt-secret #biff/secret JWT_SECRET
 :biff/port 8080
 :biff.s3/origin "https://nyc3.digitaloceanspaces.com"
 :biff.s3/access-key #profile {:prod "DO00YP8ZPFEDAV32RH6W" :default "DO801VTL3JG3NXVC2UC7"}
 :biff.s3/secret-key #profile {:prod #biff/secret S3_SECRET_KEY_PROD
                               :default #biff/secret S3_SECRET_KEY_DEV}
 :biff.s3/bucket #profile {:prod "yakread" :default "yakread-dev"}
 :biff.s3/edge #join ["https://" #ref [:biff.s3/bucket] ".nyc3.cdn.digitaloceanspaces.com"]
 ;; buckets:
 ;; - yakread: advertising image uploads
 ;; - yakread-content: parsed/processed html content
 ;; - yakread-emails: raw emails
 ;; - yakread-dev: advertising image uploads. TODO use for everything with prefixes.
 :mailersend/api-key #biff/secret MAILERSEND_API_KEY
 :mailersend/from #biff/env MAILERSEND_FROM
 :mailersend/reply-to #biff/env MAILERSEND_REPLY_TO
 :recaptcha/secret-key #biff/secret RECAPTCHA_SECRET_KEY
 :recaptcha/site-key #biff/env RECAPTCHA_SITE_KEY
 :stripe/api-key #profile {;:prod #biff/secret STRIPE_SECRET_KEY
                           :dev #biff/secret STRIPE_TEST_SECRET_KEY}
 :stripe/annual-price-id #profile {:prod "price_1Mh1vyBJUtt9Py7hcM1gQJzV" :dev "price_1MgwIoBJUtt9Py7hXs1OmEp2"}
 :stripe/quarter-price-id #profile {:prod "price_1Mh1vyBJUtt9Py7hZce550Me" :dev "price_1MgxWfBJUtt9Py7hWw1yTzgI"}
 :stripe/public-api-key
 #profile
  {:prod "pk_live_51MHGP6BJUtt9Py7htxA1DHIdULLEEOVj3Fv4P3wDjqG6CLachguy5Z0MwmhwNbhmo19G4ohNpYThoKhUle7zR5aJ003tII8UAy"
   :dev  "pk_test_51MHGP6BJUtt9Py7hMcKVUNW5xDVNXZJgrLzhjnQR9g8yDyprlWLz4pDB9ayazGBUqzSrcoXX7TVJcrPViLQJdVvz006LPmR1b5"}
 :stripe/webhook-secret #profile {:prod #biff/secret STRIPE_WEBHOOK_SECRET
                                  :dev  #biff/secret STRIPE_TEST_WEBHOOK_SECRET}
 :yakread/domain #biff/env DOMAIN
 :yakread/tos-url #biff/env TOS_URL
 :yakread/privacy-url #biff/env PRIVACY_URL
 :yakread/about-url #biff/env ABOUT_URL
 :yakread/contact-url #biff/env CONTACT_URL}
