@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul, ol {
    @apply my-3 pl-10;
  }

  .htmx-indicator .htmx-request {
    @apply inline;
  }

  .htmx-indicator.htmx-request {
    @apply inline;
  }
}

@layer utilities {
  .link {
    @apply text-blue-600 hover:underline;
  }

  .contain-content {
    contain: content;
  }

  .montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .inter {
    font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
  }

  .sidebar-visible {
    left: 0;
  }

  .shadow-uniform {
    box-shadow: 0 0 2px 1px #0000004d;
  }
}

.grecaptcha-badge { visibility: hidden; }

#post-content pre {
  white-space: break-spaces;
  word-break: break-all;
}

#post-content {
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
