[
{:route-name :com.yakread.app.subscriptions/toggle-pin,
 :method :post,
 :handler-id :start*,
 :doc "pin",
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:sub #:sub{:id 1, :doc-type :sub/feed}}},
 :expected
 {:biff.pipe/next [:biff.pipe/tx :biff.pipe/render*],
  :biff.pipe.tx/input
  [{:db/doc-type :sub/feed,
    :db/op :update,
    :xt/id 1,
    :sub/pinned-at :db/now}],
  :biff.pipe.render/route
  com.yakread.app.subscriptions/page-content-route}}

{:route-name :com.yakread.app.subscriptions/toggle-pin,
 :method :post,
 :handler-id :start*,
 :doc "unpin",
 :ctx
 #:biff.pipe.pathom{:output
                    #:params{:sub
                             #:sub{:id 1,
                                   :pinned-at "now",
                                   :doc-type :sub/feed}}},
 :expected
 {:biff.pipe/next [:biff.pipe/tx :biff.pipe/render*],
  :biff.pipe.tx/input
  [{:db/doc-type :sub/feed,
    :db/op :update,
    :xt/id 1,
    :sub/pinned-at :db/dissoc}],
  :biff.pipe.render/route
  com.yakread.app.subscriptions/page-content-route}}

]
