[
{:route-name :app.subscriptions.add/username,
 :method :post,
 :handler-id :start,
 :doc "already has a username",
 :db-contents #{{:xt/id 1, :user/email-username "abc"}},
 :ctx {:session {:uid 1}, :params {:username "123"}},
 :expected {:status 303, :biff.router/name :app.subscriptions.add/page}}

{:route-name :app.subscriptions.add/username,
 :method :post,
 :handler-id :start,
 :doc "invalid username",
 :db-contents #{},
 :ctx {:session {:uid 1}, :params {:username "admin"}},
 :expected
 {:status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params
  {:error "username-unavailable", :email-username "admin"}}}

{:route-name :app.subscriptions.add/username,
 :method :post,
 :handler-id :start,
 :doc "username taken",
 :db-contents #{{:xt/id 2, :user/email-username "abc"}},
 :ctx {:session {:uid 1}, :params {:username "abc"}},
 :expected
 {:status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params
  {:error "username-unavailable", :email-username "abc"}}}

{:route-name :app.subscriptions.add/username,
 :method :post,
 :handler-id :start,
 :doc "username not taken",
 :db-contents #{},
 :ctx {:session {:uid 1}, :params {:username "abc"}},
 :expected
 {:biff.pipe/next [:biff.pipe/tx :end],
  :biff.pipe.tx/input
  [{:db/doc-type :user,
    :db/op :update,
    :xt/id 1,
    :user/email-username [:db/unique "abc"]}],
  :biff.pipe/catch :biff.pipe/tx,
  :com.yakread.app.subscriptions.add/username "abc"}}

{:route-name :app.subscriptions.add/username,
 :method :post,
 :handler-id :end,
 :doc "fail",
 :ctx
 {:com.yakread.app.subscriptions.add/username "hello",
  :biff.pipe/exception true},
 :expected
 {:status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params
  {:error "username-unavailable", :email-username "hello"}}}

{:route-name :app.subscriptions.add/username,
 :method :post,
 :handler-id :end,
 :doc "succeed",
 :ctx #:com.yakread.app.subscriptions.add{:username "hello"},
 :expected {:status 303, :biff.router/name :app.subscriptions.add/page}}

{:route-name :app.subscriptions.add/rss,
 :method :post,
 :handler-id :start,
 :doc "fix the url",
 :ctx {:params {:url "example.com"}},
 :expected
 {:biff.pipe/next [:biff.pipe/http :add-urls],
  :biff.pipe.http/input
  {:url "https://example.com",
   :method :get,
   :headers {"User-Agent" "https://yakread.com/"}},
  :biff.pipe/catch :biff.pipe/http}}

{:route-name :app.subscriptions.add/rss,
 :method :post,
 :handler-id :add-urls,
 :doc "invalid url",
 :fixture :example-com,
 :ctx {:session {:uid 1}},
 :expected
 {:status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params
  {:error "invalid-rss-feed", :url "https://example.com"}}}

{:route-name :app.subscriptions.add/rss,
 :method :post,
 :handler-id :add-urls,
 :doc "auto-discovery",
 :fixture :obryant-dev,
 :ctx {:session {:uid 1}},
 :expected
 {:biff.pipe/next
  [:biff.pipe/tx
   {:biff.pipe/current :biff.pipe/queue,
    :biff.pipe.queue/id :work.subscription/sync-feed,
    :biff.pipe.queue/job
    {:feed/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
     :biff/priority 0}}],
  :biff.pipe.tx/input
  ({:db/doc-type :sub/feed,
    :db.op/upsert
    {:sub/user 1,
     :sub.feed/feed #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be"},
    :sub/created-at [:db/default :db/now]}
   {:db/doc-type :feed,
    :db/op :create,
    :xt/id #uuid "bb20b45f-d4d9-5138-3d93-cb799b3970be",
    :feed/url [:db/unique "https://obryant.dev/feed.xml"]}),
  :biff.pipe.tx/retry :add-urls,
  :status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params {:added-feeds 1}}}

{:route-name :app.subscriptions.add/rss,
 :method :post,
 :handler-id :add-urls,
 :doc "direct url",
 :fixture :obryant-dev-feed-xml,
 :ctx {:session {:uid 1}},
 :expected
 {:biff.pipe/next
  [:biff.pipe/tx
   {:biff.pipe/current :biff.pipe/queue,
    :biff.pipe.queue/id :work.subscription/sync-feed,
    :biff.pipe.queue/job
    {:feed/id #uuid "a32dc9f6-4f1d-f03a-8ce9-70b71df42503",
     :biff/priority 0}}],
  :biff.pipe.tx/input
  ({:db/doc-type :sub/feed,
    :db.op/upsert
    {:sub/user 1,
     :sub.feed/feed #uuid "a32dc9f6-4f1d-f03a-8ce9-70b71df42503"},
    :sub/created-at [:db/default :db/now]}
   {:db/doc-type :feed,
    :db/op :create,
    :xt/id #uuid "a32dc9f6-4f1d-f03a-8ce9-70b71df42503",
    :feed/url [:db/unique "https://obryant.dev/feed.xml"]}),
  :biff.pipe.tx/retry :add-urls,
  :status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params {:added-feeds 1}}}

{:route-name :app.subscriptions.add/rss,
 :method :post,
 :handler-id :add-urls,
 :doc "don't create feed doc if someone already subscribes",
 :fixture :obryant-dev,
 :ctx {:session {:uid 1}},
 :db-contents #{{:xt/id 2, :feed/url "https://obryant.dev/feed.xml"}},
 :expected
 {:biff.pipe/next [:biff.pipe/tx],
  :biff.pipe.tx/input
  ({:db/doc-type :sub/feed,
    :db.op/upsert {:sub/user 1, :sub.feed/feed 2},
    :sub/created-at [:db/default :db/now]}),
  :biff.pipe.tx/retry :add-urls,
  :status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params {:added-feeds 1}}}

{:route-name :app.subscriptions.add/opml,
 :method :post,
 :handler-id :start,
 :doc "slurp the uploaded file",
 :ctx {:params {:opml {:tempfile "/tmp/some-file"}}},
 :expected
 {:biff.pipe/next [:biff.pipe/slurp :end],
  :biff.pipe.slurp/input "/tmp/some-file"}}

{:route-name :app.subscriptions.add/opml,
 :method :post,
 :handler-id :end,
 :doc "extract and save the opml urls",
 :fixture :sample-opml,
 :ctx {:session {:uid 1}},
 :expected
 {:biff.pipe/next
  [:biff.pipe/tx
   {:biff.pipe/current :biff.pipe/queue,
    :biff.pipe.queue/id :work.subscription/sync-feed,
    :biff.pipe.queue/job
    {:feed/id #uuid "629bc222-9cef-e94d-fc1e-932efb9a0f58",
     :biff/priority 5}}
   {:biff.pipe/current :biff.pipe/queue,
    :biff.pipe.queue/id :work.subscription/sync-feed,
    :biff.pipe.queue/job
    {:feed/id #uuid "e1121b08-05e8-b107-f0f5-b4f22d0cd0f1",
     :biff/priority 5}}
   {:biff.pipe/current :biff.pipe/queue,
    :biff.pipe.queue/id :work.subscription/sync-feed,
    :biff.pipe.queue/job
    {:feed/id #uuid "4663620f-501c-9270-20ff-67585e33a8f6",
     :biff/priority 5}}],
  :biff.pipe.tx/input
  ({:db/doc-type :sub/feed,
    :db.op/upsert
    {:sub/user 1,
     :sub.feed/feed #uuid "629bc222-9cef-e94d-fc1e-932efb9a0f58"},
    :sub/created-at [:db/default :db/now]}
   {:db/doc-type :feed,
    :db/op :create,
    :xt/id #uuid "629bc222-9cef-e94d-fc1e-932efb9a0f58",
    :feed/url [:db/unique "https://code.thheller.com/feed.xml"]}
   {:db/doc-type :sub/feed,
    :db.op/upsert
    {:sub/user 1,
     :sub.feed/feed #uuid "e1121b08-05e8-b107-f0f5-b4f22d0cd0f1"},
    :sub/created-at [:db/default :db/now]}
   {:db/doc-type :feed,
    :db/op :create,
    :xt/id #uuid "e1121b08-05e8-b107-f0f5-b4f22d0cd0f1",
    :feed/url
    [:db/unique
     "http://timothypratley.blogspot.com/feeds/posts/default"]}
   {:db/doc-type :sub/feed,
    :db.op/upsert
    {:sub/user 1,
     :sub.feed/feed #uuid "4663620f-501c-9270-20ff-67585e33a8f6"},
    :sub/created-at [:db/default :db/now]}
   {:db/doc-type :feed,
    :db/op :create,
    :xt/id #uuid "4663620f-501c-9270-20ff-67585e33a8f6",
    :feed/url
    [:db/unique "https://www.clojuriststogether.org/index.xml"]}),
  :biff.pipe.tx/retry :end,
  :status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params {:added-feeds 3}}}

{:route-name :app.subscriptions.add/opml,
 :method :post,
 :handler-id :end,
 :doc "no urls found, show an error",
 :ctx {:session {:uid 1}, :biff.pipe.slurp/output ""},
 :expected
 {:status 303,
  :biff.router/name :app.subscriptions.add/page,
  :biff.router/params {:error "invalid-opml-file"}}}

]
