;; Test fixtures for Alfresco integration
;; File: test/com/yakread/lib/alfresco_test/fixtures.edn

{:config {:base-url "http://generated-setup-alfresco-1:8080"
          :username "admin"
          :password "admin"
          :timeout 30000
          :connection-timeout 10000}

 :user-id "test-user-123"

 :mock-responses
 {:repository-info
  {:status 200
   :body {:entry {:id "81ef2d03-6e8f-4860-af2d-036e8fe86043"
                 :edition "Community"
                 :version {:major "25"
                          :minor "2"
                          :patch "0"
                          :hotfix "0"
                          :schema "20100"
                          :label "r8f1631fb-blocal"
                          :display "25.2.0.0 (r8f1631fb-blocal) schema 20100"}
                 :statusReadOnly false
                 :auditEnabled true}}}

  :sites-list
  {:status 200
   :body {:list {:pagination {:count 1
                             :hasMoreItems false
                             :totalItems 1
                             :skipCount 0
                             :maxItems 100}
                :entries [{:entry {:id "swsdp"
                                  :guid "b4cff62a-664d-4d45-9302-98723eac1319"
                                  :title "Sample: Web Site Design Project"
                                  :description "A sample site used for demo purposes"
                                  :visibility "PUBLIC"
                                  :preset "site-dashboard"
                                  :role "SiteConsumer"}}]}}}

  :site-containers
  {:status 200
   :body {:list {:pagination {:count 1
                             :hasMoreItems false
                             :totalItems 1
                             :skipCount 0
                             :maxItems 100}
                :entries [{:entry {:folderId "8f2105b4-daaf-4874-9e8a-2152569d109b"
                                  :folderName "documentLibrary"}}]}}}

  :document-library-contents
  {:status 200
   :body {:list {:pagination {:count 9
                             :hasMoreItems false
                             :totalItems 9
                             :skipCount 0
                             :maxItems 100}
                :entries [{:entry {:id "21f2687f-7b6c-403a-b268-7f7b6c803a85"
                                  :name "Web Site"
                                  :nodeType "cm:folder"
                                  :isFolder true
                                  :isFile false
                                  :createdAt "2025-09-15T15:33:50.843+0000"
                                  :modifiedAt "2025-09-17T10:59:51.663+0000"
                                  :createdByUser {:id "admin" :displayName "Administrator"}
                                  :modifiedByUser {:id "Tom Brooke" :displayName "Tom Brooke"}
                                  :parentId "8f2105b4-daaf-4874-9e8a-2152569d109b"}}
                         {:entry {:id "65a6ea88-5ee2-4fbb-a6ea-885ee21fbb93"
                                  :name "Worship"
                                  :nodeType "cm:folder"
                                  :isFolder true
                                  :isFile false
                                  :parentId "8f2105b4-daaf-4874-9e8a-2152569d109b"}}
                         {:entry {:id "fa91ac07-b236-4f86-91ac-07b2365f8602"
                                  :name "Youth"
                                  :nodeType "cm:folder"
                                  :isFolder true
                                  :isFile false
                                  :parentId "8f2105b4-daaf-4874-9e8a-2152569d109b"}}]}}}

  :website-folder-contents
  {:status 200
   :body {:list {:pagination {:count 8
                             :hasMoreItems false
                             :totalItems 8
                             :skipCount 0
                             :maxItems 100}
                :entries [{:entry {:id "9faac48b-6c77-4266-aac4-8b6c7752668a"
                                  :name "Home Page"
                                  :nodeType "cm:folder"
                                  :isFolder true
                                  :isFile false
                                  :createdAt "2025-09-17T10:50:42.969+0000"
                                  :modifiedAt "2025-09-17T10:50:42.969+0000"
                                  :parentId "21f2687f-7b6c-403a-b268-7f7b6c803a85"}}
                         {:entry {:id "2cf1aac5-8577-499e-b1aa-c58577a99ea0"
                                  :name "Worship"
                                  :nodeType "cm:folder"
                                  :isFolder true
                                  :isFile false
                                  :createdAt "2025-09-17T10:54:49.129+0000"
                                  :modifiedAt "2025-09-17T10:54:49.129+0000"
                                  :parentId "21f2687f-7b6c-403a-b268-7f7b6c803a85"}}
                         {:entry {:id "bb44a590-1c61-416b-84a5-901c61716b5e"
                                  :name "Activities"
                                  :nodeType "cm:folder"
                                  :isFolder true
                                  :isFile false
                                  :createdAt "2025-09-17T10:58:33.531+0000"
                                  :modifiedAt "2025-09-17T10:58:33.531+0000"
                                  :parentId "21f2687f-7b6c-403a-b268-7f7b6c803a85"}}]}}}

  :cmis-repository-info
  {:status 200
   :body {:repositoryId "81ef2d03-6e8f-4860-af2d-036e8fe86043"
          :repositoryName "Main Repository"
          :repositoryDescription "Main Repository"
          :vendorName "Alfresco"
          :productName "Alfresco Repository (Community)"
          :productVersion "25.2.0.0 (r8f1631fb-blocal) schema 20100"
          :rootFolderId "9ebe4a64-94c1-481f-be4a-6494c1181f91"
          :capabilities {:contentStreamUpdatability "anytime"
                        :changes "none"
                        :renditions "read"}}}

  :cmis-query-results
  {:status 200
   :body {:results [{:properties {"cmis:objectId" "9faac48b-6c77-4266-aac4-8b6c7752668a"
                                 "cmis:name" "Home Page"
                                 "cmis:objectTypeId" "cmis:folder"
                                 "cmis:createdBy" "admin"
                                 "cmis:creationDate" "2025-09-17T10:50:42.969+0000"}}
                   {:properties {"cmis:objectId" "2cf1aac5-8577-499e-b1aa-c58577a99ea0"
                                 "cmis:name" "Worship"
                                 "cmis:objectTypeId" "cmis:folder"
                                 "cmis:createdBy" "admin"
                                 "cmis:creationDate" "2025-09-17T10:54:49.129+0000"}}]}}

  :node-details
  {:status 200
   :body {:entry {:id "21f2687f-7b6c-403a-b268-7f7b6c803a85"
                 :name "Web Site"
                 :nodeType "cm:folder"
                 :isFolder true
                 :isFile false
                 :createdAt "2025-09-15T15:33:50.843+0000"
                 :modifiedAt "2025-09-17T10:59:51.663+0000"
                 :createdByUser {:id "admin" :displayName "Administrator"}
                 :modifiedByUser {:id "Tom Brooke" :displayName "Tom Brooke"}
                 :parentId "8f2105b4-daaf-4874-9e8a-2152569d109b"
                 :path {:name "/Company Home/Sites/swsdp/documentLibrary/Web Site"
                       :isComplete true
                       :elements [{:id "9ebe4a64-94c1-481f-be4a-6494c1181f91" :name "Company Home"}
                                 {:id "7e525f06-4fc5-41ca-925f-064fc5c1ca12" :name "Sites"}
                                 {:id "b4cff62a-664d-4d45-9302-98723eac1319" :name "swsdp"}
                                 {:id "8f2105b4-daaf-4874-9e8a-2152569d109b" :name "documentLibrary"}
                                 {:id "21f2687f-7b6c-403a-b268-7f7b6c803a85" :name "Web Site"}]}}}}

  :search-results
  {:status 200
   :body {:list {:pagination {:count 0
                             :hasMoreItems false
                             :totalItems 0
                             :skipCount 0
                             :maxItems 100}
                :entries []}}}}

 :expected-yakread-items
 [{:xt/id "generated-uuid-1"
   :item/type :item.type/alfresco-folder
   :item/title "Home Page"
   :item/url "alfresco://9faac48b-6c77-4266-aac4-8b6c7752668a"
   :item/description "Alfresco folder: Mt Zion Website/Home Page"
   :item/source "Mt Zion Alfresco"
   :item/alfresco-id "9faac48b-6c77-4266-aac4-8b6c7752668a"
   :item/alfresco-path "/Sites/swsdp/documentLibrary/Web Site/Home Page"
   :item/alfresco-type "folder"}
  {:xt/id "generated-uuid-2"
   :item/type :item.type/alfresco-folder
   :item/title "Worship"
   :item/url "alfresco://2cf1aac5-8577-499e-b1aa-c58577a99ea0"
   :item/description "Alfresco folder: Mt Zion Website/Worship"
   :item/source "Mt Zion Alfresco"
   :item/alfresco-id "2cf1aac5-8577-499e-b1aa-c58577a99ea0"
   :item/alfresco-path "/Sites/swsdp/documentLibrary/Web Site/Worship"
   :item/alfresco-type "folder"}]

 :expected-website-structure
 {:site-id "swsdp"
  :site-name "Sample: Web Site Design Project"
  :document-library-id "8f2105b4-daaf-4874-9e8a-2152569d109b"
  :website-folder-id "21f2687f-7b6c-403a-b268-7f7b6c803a85"
  :website-folders [{:id "9faac48b-6c77-4266-aac4-8b6c7752668a"
                    :name "Home Page"
                    :type "folder"
                    :path "/Sites/swsdp/documentLibrary/Web Site/Home Page"
                    :created-at "2025-09-17T10:50:42.969+0000"
                    :modified-at "2025-09-17T10:50:42.969+0000"}
                   {:id "2cf1aac5-8577-499e-b1aa-c58577a99ea0"
                    :name "Worship"
                    :type "folder"
                    :path "/Sites/swsdp/documentLibrary/Web Site/Worship"
                    :created-at "2025-09-17T10:54:49.129+0000"
                    :modified-at "2025-09-17T10:54:49.129+0000"}
                   {:id "bb44a590-1c61-416b-84a5-901c61716b5e"
                    :name "Activities"
                    :type "folder"
                    :path "/Sites/swsdp/documentLibrary/Web Site/Activities
